/*    

0   - 600px :  Phone
600 - 900px : Tablet portrait 
900 - 1200px: Tablet landscape
1200 - 1800 is where our normal styles apply
1800px + : Big desktop

$breakpooint argument choices:
-mobile:  320px to 767px
-tablet: 768 to 1279px
-desktop: 1280px 

ORDER: base + typography >  general layout + grid > page layout > components


1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

header, nav, div, ul, ol, li, main, p, section, footer {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 80em) {
    html {
      font-size: 80%; } }

body {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  line-height: 0; }

*::selection {
  background-color: #E1E1E1;
  color: #323232; }

@font-face {
  font-family: "Avenir";
  src: url("../../Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../Font/AvenirNextLTPro-Bold.otf") format("opentype"); }

@font-face {
  font-family: "Aveniralt";
  src: url("../../Font/Alternative files/AvenirNExtLTPro") format("truetype"), url("../../Font/Alternative files/AvenirNExtLTProBold") format("truetype"), url("../../Font/Alternative files/AvenirNExtLTProDemi") format("truetype"); }

body {
  font-family: "Avenir"; }

.heading-primary {
  font-size: 2.4rem;
  padding-top: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  color: #FFF; }
  @media only screen and (min-width: 48em) {
    .heading-primary {
      font-size: 6rem;
      line-height: 6.8rem; } }

.heading-section {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700; }
  @media only screen and (min-width: 48em) {
    .heading-section {
      font-size: 3.6rem;
      line-height: 4.4rem; } }

.heading-subheader {
  padding-top: 1.6rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 600; }
  @media only screen and (min-width: 48em) {
    .heading-subheader {
      font-size: 2.4rem;
      line-height: 3.2rem; } }

.paragraph-body {
  font-size: 1.3rem;
  padding-top: 1.6rem;
  line-height: 1.8rem;
  font-weight: 400; }
  @media only screen and (min-width: 48em) {
    .paragraph-body {
      font-size: 1.4rem;
      line-height: 2.2; } }

.paragraph-footer {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 700;
  color: #FFF;
  padding: 0 1.6rem 1.6rem;
  padding-left: 0; }
  @media only screen and (min-width: 48em) {
    .paragraph-footer {
      font-size: 1.2rem;
      line-height: 2rem; } }

.paragraph-footer:nth-of-type(1) {
  padding-top: 2.4rem; }

.paragraph-label {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 700;
  color: #AFAFAF; }
  @media only screen and (min-width: 48em) {
    .paragraph-label {
      font-size: 1.2rem; } }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: block;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400; }
  @media only screen and (min-width: 48em) {
    .btn, .btn:link, .btn:visited {
      font-size: 1.2rem; } }

.btn.nav-btn {
  color: #FFF;
  padding: .8rem 0;
  border-bottom: 3px solid transparent; }
  .btn.nav-btn:hover {
    border-bottom: 3px solid #FFF; }
  .btn.nav-btn:active {
    font-weight: 700; }

.btn.btn-comment {
  width: 100%;
  border: none;
  padding: 1rem 2rem;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  color: #FFF;
  background-color: #323232;
  border-radius: .5rem;
  box-shadow: 0 0.5rem 4rem 0.5rem rgba(50, 50, 50, 0.2);
  transition: all 0.2s; }
  .btn.btn-comment:active {
    transform: translateY(-2px) scale(0.97);
    box-shadow: 0 1.5rem 2.5rem 1rem rgba(50, 50, 50, 0.3); }
  @media only screen and (min-width: 48em) {
    .btn.btn-comment {
      margin: auto;
      width: 18rem;
      position: relative;
      float: right; } }

.header {
  display: inline-block;
  background-color: #323232;
  width: 100%;
  padding-top: 2.4rem;
  text-align: center;
  z-index: -1; }
  @media only screen and (min-width: 48em) {
    .header {
      text-align: left;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 6.5rem;
      padding-top: 0; } }
  @media only screen and (min-width: 80em) {
    .header {
      height: 8rem; } }
  .header__container {
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%; }
    @media only screen and (min-width: 48em) {
      .header__container {
        width: 25%;
        text-align: center; } }
    .header__container-logo {
      display: inline-block; }
      @media only screen and (min-width: 48em) {
        .header__container-logo {
          text-align: right;
          margin-left: 25%; } }

.navigation {
  display: inline-block;
  width: 100%; }
  @media only screen and (min-width: 48em) {
    .navigation {
      width: 40%;
      height: 100%; } }
  .navigation__list {
    height: 100%; }
    .navigation__list-item {
      width: 50%;
      display: inline-block;
      text-align: center; }
      @media only screen and (min-width: 48em) {
        .navigation__list-item {
          width: auto;
          margin-left: 4rem;
          height: 100%; }
          .navigation__list-item .btn {
            height: 100%;
            padding-top: 2.4rem; } }
    @media only screen and (min-width: 48em) and (min-width: 80em) {
      .navigation__list-item .btn {
        padding-top: 3.2rem; } }

.footer {
  padding: 0 1.6rem 1.6rem;
  background-color: #323232;
  height: auto; }
  @media only screen and (min-width: 48em) {
    .footer {
      height: 37em;
      padding: 3.6rem; } }
  @media only screen and (min-width: 80em) {
    .footer {
      padding: 5.2rem 7.2rem 3.2rem; } }
  .footer .heading-primary {
    font-size: 3.2rem; }
    @media only screen and (min-width: 48em) {
      .footer .heading-primary {
        display: inline-block;
        margin-right: 3rem; } }
  .footer .footer-url {
    display: inline-block;
    margin: 1.6rem 0;
    z-index: 10; }
    .footer .footer-url:not(:nth-of-type(1)) {
      margin-left: 1.9rem; }
  .footer .icon {
    height: 3rem;
    width: 3rem;
    z-index: -10; }
    @media only screen and (min-width: 48em) {
      .footer .icon {
        height: 2.5rem;
        width: 2.5rem; } }
  @media only screen and (min-width: 48em) {
    .footer__container {
      width: 100%;
      height: 15rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 2.4rem; }
      .footer__container-1, .footer__container-2, .footer__container-3 {
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .footer__container-1 .__paragraph, .footer__container-2 .__paragraph, .footer__container-3 .__paragraph {
          padding: 0; } }
  .footer .firm {
    margin-top: 3rem;
    position: relative; }
    @media only screen and (min-width: 48em) {
      .footer .firm__logo {
        position: absolute;
        top: -22.7rem;
        right: 0; }
      .footer .firm .paragraph-footer {
        padding: 0; } }
    @media only screen and (min-width: 80em) {
      .footer .firm .paragraph-footer {
        padding: 0; } }

.section__hero {
  height: 20rem;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to left, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)); }
  @media only screen and (min-width: 48em) {
    .section__hero {
      height: 45rem; } }
  @media only screen and (min-width: 80em) {
    .section__hero {
      height: 95vh; } }
  .section__hero .container__hero {
    position: relative;
    height: 100%; }
    .section__hero .container__hero-img {
      position: absolute;
      width: 100%;
      min-width: 300px;
      z-index: -10; }
  .section__hero .heading-primary {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 1.6rem 1.6rem;
    color: #FFF; }

.section-about .heading-section {
  padding: 2.4rem 0 1.6rem;
  text-align: left;
  padding: 0 1.6rem 1.6rem;
  padding-top: 2.4rem; }
  @media only screen and (min-width: 48em) {
    .section-about .heading-section {
      padding: 0 3.6rem 3.6rem;
      padding-top: 3.6rem; } }

.section-about .heading-subheader {
  padding: 1.6rem 0 0; }
  @media only screen and (min-width: 48em) {
    .section-about .heading-subheader {
      padding: 3.6rem 0 0; } }

.section-about .paragraph-body {
  text-align: left;
  padding-top: 1.6rem; }

.section-about-container {
  width: 100%;
  padding: 0 1.6rem 1.6rem; }
  @media only screen and (min-width: 48em) {
    .section-about-container {
      padding: 0 7.2rem 3.6rem; }
      .section-about-container .tablecell {
        display: flex;
        flex-direction: row; }
        .section-about-container .tablecell .paragraph-body {
          text-align: left; }
          .section-about-container .tablecell .paragraph-body:not(:nth-of-type(1)) {
            padding-left: 1rem; }
          .section-about-container .tablecell .paragraph-body:not(:nth-of-type(2)) {
            padding-right: 1rem; } }
  @media only screen and (min-width: 80em) {
    .section-about-container {
      padding: 0 24rem 3.6rem; } }
  .section-about-container .img-container {
    width: 100%;
    overflow: hidden; }
    .section-about-container .img-container .img {
      width: 100%; }

.section-gallery {
  padding: 0 1.6rem 1.6rem;
  padding-top: 2.4rem; }
  @media only screen and (min-width: 48em) {
    .section-gallery {
      padding: 3.6rem 3.6rem; } }
  @media only screen and (min-width: 80em) {
    .section-gallery {
      padding: 0 14.4rem 3.6rem; } }
  .section-gallery-container {
    width: 100%;
    overflow: hidden; }
    .section-gallery-container .img-container {
      padding-bottom: 1.6rem; }
    .section-gallery-container .img {
      width: 100%; }
    @media only screen and (min-width: 48em) {
      .section-gallery-container {
        padding-top: 3.6rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; }
        .section-gallery-container .img-container {
          width: 31.5%;
          padding: 1rem 0rem; } }

.section-conversation {
  max-width: 75rem;
  height: auto;
  padding: 1.6rem;
  margin: auto; }
  .section-conversation .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0; }
    @media only screen and (min-width: 48em) {
      .section-conversation .container {
        padding: 0  7.2rem 2.4rem; } }
    .section-conversation .container .picture {
      position: relative;
      margin: 3.1rem 1.6rem 0rem 0rem;
      height: 4rem;
      width: 4rem;
      shape-outside: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      overflow: hidden; }
      .section-conversation .container .picture .img {
        position: absolute;
        top: 0;
        left: -15%;
        height: 100%;
        background-color: #AFAFAF; }
  .section-conversation-form {
    width: 100%;
    padding: 0;
    display: inline-block; }
    .section-conversation-form .label-form {
      display: inline-block;
      width: 100%;
      text-transform: uppercase;
      margin-bottom: .6rem; }
    .section-conversation-form.input-name {
      transition: all 0.2s;
      font-family: inherit;
      min-height: 3.6rem;
      padding: 1.2rem;
      width: 100%;
      border: 1px solid #E1E1E1;
      border-radius: 4px;
      background-color: #FAFAFA;
      margin-bottom: 1.6rem; }
      .section-conversation-form.input-name:focus {
        outline: none;
        border: 1px solid #323232; }
    .section-conversation-form.text-area {
      transition: all 0.2s;
      resize: none;
      height: 12rem;
      min-height: 3.6rem;
      font-family: inherit;
      min-height: 3.6rem;
      padding: 1.2rem;
      width: 100%;
      border: 1px solid #E1E1E1;
      border-radius: 4px;
      background-color: #FAFAFA;
      margin-bottom: 1.2rem; }
      .section-conversation-form.text-area:focus {
        outline: none;
        border: 1px solid #323232; }
  .section-conversation.boxes {
    padding: .4rem 0;
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    @media only screen and (min-width: 48em) {
      .section-conversation.boxes {
        padding: 0  7.2rem 2.4rem; } }
    .section-conversation.boxes .big-container {
      padding: 0;
      border-bottom: 2px solid #E1E1E1; }
      .section-conversation.boxes .big-container:nth-of-type(1) {
        border-top: 2px solid #E1E1E1; }
    .section-conversation.boxes .id-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 0; }
      .section-conversation.boxes .id-container .picture {
        position: relative;
        margin-left: -1.6rem;
        display: inline-block;
        height: 4rem;
        width: 4rem;
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        overflow: hidden;
        background-color: #E1E1E1; }
        .section-conversation.boxes .id-container .picture .img {
          position: absolute;
          top: 0;
          left: -25%;
          height: 100%; }
      .section-conversation.boxes .id-container .paragraph-body {
        font-size: 1.5rem;
        margin: 0;
        padding: 0; }
        .section-conversation.boxes .id-container .paragraph-body.name {
          display: inline-block;
          width: 50%;
          font-weight: 700;
          margin-top: -1rem;
          margin-left: 1.6rem; }
        .section-conversation.boxes .id-container .paragraph-body.date {
          display: inline-block;
          width: 40%;
          text-align: right;
          color: #AFAFAF;
          margin-top: -1rem; }
    .section-conversation.boxes .text {
      display: inline-block;
      height: auto;
      margin-left: 5.5rem;
      margin-top: -2rem;
      padding-bottom: .8rem;
      word-spacing: 3px; }
